<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39093620497-m76r7288jmv8u2ruvos4l97329dplf4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39093620497-m76r7288jmv8u2ruvos4l97329dplf4o</string>
	<key>API_KEY</key>
	<string>AIzaSyBjXoldDEdjtlvE9XinSvjeyEsYOOykFVI</string>
	<key>GCM_SENDER_ID</key>
	<string>39093620497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malith.MovieKernel</string>
	<key>PROJECT_ID</key>
	<string>movieslk-bd962</string>
	<key>STORAGE_BUCKET</key>
	<string>movieslk-bd962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39093620497:ios:7302623274d4ed63</string>
	<key>DATABASE_URL</key>
	<string>https://movieslk-bd962.firebaseio.com</string>
</dict>
</plist>